$colors: (
    primary:#F9DC67,
    secondary: #C8AA36,
    accent:#35BADC,
    lDark:#807F7F,
    Dark:#6A6868
);
$width: 1400px;

* {
	margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html    {
    body{
        width: 100%;
        height: 100%;
        
    }	
}

header {
    width: 100%;
    nav {
        width: 100%;
        height: 100px;
        background-color: map-get($map: $colors, $key: primary);
        
        #NavHolder {
            max-width: $width;
            height: 100%;
            width: 95%;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 3fr 2fr;
            > a img {
                margin-top: 10px;
                width: 185px;
            }
            > #NavSearch {
                padding-left: 80px;
                
                form {
                    background: white;
                    width: 80%;
                    height: 32px;
                    display: grid;
                    border-radius: 5px;
                    grid-template-columns: 5fr .5fr;
                    margin-top: 45px;
                    padding-left: 10px;
                    input {
                        background: none;
                        border: none;
                        outline: none;
                        height: 100%;
                        font-size: 18px;
                        color: map-get($map: $colors, $key: lDark);
                    }
                    button {
                        background: map-get($map: $colors, $key: primary);
                        box-sizing: border-box;
                        border-radius: 5px;
                        height: 100%;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        border: 2px solid white;
                        position: relative;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            height: 20px;
                        }
                    }
                }
            }
            > #NavStat {
                padding-top: 8px;
                #NavStat_P1 {
                    width: 100%;
                    height: 16px;
                    div:nth-child(2) {
                        margin: 0 10px;
                        padding: 0 10px;
                        border-left: 3px solid white;
                        border-right: 3px solid white;
                    }
                    div {
                        height: 100%;
                        float: right;
                        img {
                            height: 100%;
                        }
                        a {
                            text-decoration: none;
                            color: map-get($map: $colors, $key: lDark);
                            font-size: 15px;
                        }
                    } 
                }
                #NavStat_P2{
                    #NotRegis {
                        float: right;
                        padding-top: 30px;
                        display: none;
                        a {
                            text-decoration: none;
                            padding: .5em;
                            color: white;
                        }
                        a:nth-child(1) {
                            padding-left: 0;
                        }
                        a:nth-child(2) {
                            margin-left: 20px;
                            background-color: map-get($map: $colors, $key: secondary);
                            border-radius: 8px;
                            transition: background-color 300ms ease-out;
                        }
                        a:nth-child(2):hover {
                            background-color: map-get($map: $colors, $key: accent);
                        }
                    }
                    #Registered{
                        float: right;
                        padding-top: 22px;
                        a:nth-child(1),a:nth-child(2),a:nth-child(3),#menu{
                         float: left;
                        }
                        a {
                            text-decoration: none;
                        }

                        > a:nth-child(1){
                            color: map-get($map: $colors, $key: secondary);
                            background: white;
                            box-sizing: border-box;
                            padding: .4em .6em;
                            border-radius: 5px;
                        }
                        > a:nth-child(1):hover{
                            background: map-get($map: $colors, $key: accent);
                            color: white;
                        }
                        > a:nth-child(2),a:nth-child(3){
                            img {
                                height: 34px;
                                margin-left: 20px;
                            }
                        }
                        ul{
                            list-style: none;
                        }
                        #menu {
                        }

                    }
                    
                }  
            }
        }
    }
}

// //Holder for Registration module - 09/01/2020 (Harold)
// #Module-Registration {
//     display: none;
// 	width: 100%;
// 	height: 100%;
// 	position: fixed;
//     background-color: rgba(0, 0, 0, .8);

//     #Container-Registration {
//         width: 700px;
//         position: absolute;
//         top:50%;
//         left: 50%;
//         background: white;
//         transform: translate(-50%,-50%);
//         border-radius: 9px;
//     }
// }

// #Container-Registration {
//     display: grid;
//     grid-template-columns: 1fr 1.5fr;
//     min-height: 300px;
//     #PreView-Registration {
//         background: map-get($colors, $key: primary);
//         border-bottom-left-radius: 9px;
//         border-top-left-radius: 9px;
//     }
// }

// #Form-Registration {
//     display: none;
//     padding: 1.5em 1.8em;
    
//     > h2 {
//         text-align: center;
//         color: map-get($map: $colors, $key: secondary);
//     }
//     > p  {
//         text-align: center;
//         color: map-get($map: $colors, $key: lDark);
//         font-size: 12px;
//     }
//     .Desc {
//         color: map-get($map: $colors, $key: lDark);
//         margin: 15px 0 9px;
//     }  
//     input {
//         width: 98%;
//         height: 25px;
//         border-radius: 5px;
//         border: 2px solid map-get($map: $colors, $key: lDark); 
//         padding-left: 5px;
//         outline: none; 
//     } 
//     > #FormPart1 {
//         display: none;
//         width: 100%;
//         margin-top: 25px;       
//         //Input Name
//         #Name-FormPart1-Registration {
//             display: grid;
//             grid-template-columns: 1fr 1fr;
//             grid-gap: 20px;
           
//         }
//         //Input Birthday
//         #Birthday-FormPart1-Registration {
//             input {
//                 width: 40%;
//                 text-align: center;
//             }
//         }
//         #ContactNumber-FormPart1-Registration{
//             div{
//                 border: 2px solid map-get($map: $colors, $key: lDark);
//                 border-radius: 5px;
//                 width: 50%;
//                 display: grid;
//                 grid-template-columns: .1fr 1fr;

//                 input {
//                     width: 90%;
//                     border: none;
//                     font-size: 15px;
//                     border-radius: unset;
//                     border-left: 2.3px solid map-get($map: $colors, $key: lDark);
//                 }
//                 p  {
//                     color: map-get($map: $colors, $key: lDark);
//                     position: relative;
//                     top: 55%;
//                     transform: translateY(-45%);
//                     font-size: 18px;
//                     padding: 0 5px ;
                    
//                 }

//             }
    
//         }
        
//         #next {
//             float: right;
//             padding: .5em 1em;
//             background: map-get($map: $colors, $key: secondary);
//             border-radius: 5px;
//             border: none;
//             color: white;
//             cursor: pointer;
//             outline: none;
//             margin-top: 25px;
//             font-size: 18px;
//         }
//     } 
//     > #FormPart2 {
//         display:none;
//         #Password-FormPart2-Registration{
//             > div{
//                 display: grid;
//                 grid-template-columns: 1fr .1fr;
//                 column-gap: 10px;
//                 width: 60%;
//                 border-radius: 6px;
//                 border: 2px solid map-get($map: $colors, $key: lDark);
//                 #Password-Input{
//                     border-color: white;
//                     height: 23px;
                
//                 }
//                 .eye {
//                     background-color: red;
//                 }
//             }
//         }
//         #Confirm-Input{
//             width: 60%;
//         }
//         #finish {
//             float: right;
//             padding: .5em 1em;
//             background: map-get($map: $colors, $key: secondary);
//             border-radius: 5px;
//             border: none;
//             color: white;
//             cursor: pointer;
//             outline: none;
//             margin-top: 25px;
//             font-size: 18px;
//         }  
//     } 
// }

