*
!.gitignore
!/Active Message.png
!/Active Notification.png
!/Artboard - 10.png
!/Edit.png
!/Heart.png
!/Help.png
!/Location.png
!/Logo Name.png
!/Logo.png
!/Message.png
!/My Account.png
!/My Trade.png
!/Notification.png
!/Search.png
!/Semi Verified.png
!/settings.png
!/Terms and condition - 2.png
!/Terms and condition.png
!/Verified.png
!/Error.png
!/Close.png